{% extends 'base.html.twig' %}

{% block title %}Office index{% endblock %}

{% block body %}
    <h1>Office index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for office in offices %}
            <tr>
                <td>{{ office.id }}</td>
                <td>{{ office.description }}</td>
                <td>
                    <a href="{{ path('office_show', {'id': office.id}) }}">show</a>
                    <a href="{{ path('office_edit', {'id': office.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('office_new') }}">Create new</a>
{% endblock %}
