{% extends 'base.html.twig' %}

{% block title %}New Booking{% endblock %}

{% block body %}
    {% if message is defined %}
        {{ message }}
    {% endif %}
    <h1>Check office availability</h1>

    {{ include('booking/_form.html.twig') }}
{% endblock %}
