{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Free seats for the specified office/time</h1>
    {% if message is defined %}
        {{ message }}
    {% endif %}

    <table class="table">
        <thead>
        <tr>
            <th>Seat Position</th>
        </tr>
        </thead>
        <tbody>
        {% for seat in seats %}
            <tr>
                <td>{{ seat.position }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
