{% extends 'base.html.twig' %}

{% block title %}Booking index{% endblock %}

{% block body %}
    <h1>Booking index</h1>
    {% if message is defined %}
        {{ message }}
    {% endif %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>StartTime</th>
                <th>EndTime</th>
                <th>Office</th>
                <th>Seat</th>
                <th>Employee Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for booking in bookings %}
            <tr>
                <td>{{ booking.id }}</td>
                <td>{{ booking.startTime ? booking.startTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.endTime ? booking.endTime|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ booking.seat.office.description }}</td>
                <td>{{ booking.seat.position }}</td>
                <td>{{ booking.employee.firstName }} {{ booking.employee.lastName }}</td>
                <td>
                    <a href="{{ path('booking_show', {'id': booking.id}) }}">show</a>
                    <a href="{{ path('booking_edit', {'id': booking.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('booking_new') }}">Create new</a>
{% endblock %}
